<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Soketch | Sketch</title>
	<link href="{{ static_url("css/boostrap.min.css") }}" ref="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- [if lt IE 9]>
		<script src="{{ static_url("assets/js/html5shiv.js") }}></script>
		<script src="{{ static_url("assets/js/respond.min.js") }}></script>
	<![endif] -->
    
</head>
<body>
<div id="wrapper">
	<canvas id="mycanvas" >
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/scketch.js") }}"></script>
</body>
</html>
